@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$color1:#0B0B0D;
$color2:#181619;
$color3:#181B22;
$color4:#272A31;
$color5:#A76B09;
$color6:#DDA74F;
$color7:#faf7f0;

$font-family1:'Rubik', sans-serif;;
$font-size1:clamp(12px,3vmin,20px);
